__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/

.dart_tool/
android/.flutter-plugins
android/.flutter-plugins-dependencies
android/build/
android/android/.gradle/
android/android/app/build/

.env
.env.*
!.env.example
*.jks
*.keystore
android/key.properties
